<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Historial Médico del Paciente</title>
</head>
<body>
    <h1>Historial Médico de Paciente ID: <span th:text="${pacienteId}"></span></h1>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Diagnóstico</th>
                <th>Radiografías</th>
                <th>Médico</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${historial}">
                <td th:text="${item.fecha}"></td>
                <td th:text="${item.diagnostico}"></td>
                <td th:text="${item.radiografias}"></td>
                <td th:text="${item.medico.nombre}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
